@*@model IEnumerable<TasksListWebApp.Models.Task>*@
@*@model TasksListWebApp.Models.Task*@


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a style="margin-left:2px" href="~/Tasks/Create">Create New</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<form action="/Tasks/Listing" method="post">

    <div class="form-group">
        @*@Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @*@Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })*@
            <select style="margin-left:-13px" name="UserId">
                @foreach (TasksListWebApp.Models.User item in ViewBag.Users)
        {
            <option value="@item.UserId">@item.UserName</option>
}
            </select>
            @*@Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })*@
            <input type="submit" style="margin-left:286px" value="Search" class="btn btn-default" /><br /><br /><br /><br />
        </div>
    </div>

    @*<input type="number"/>*@


    @*<div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        
    </div>*@
</form>

<form action="/Tasks/DescriptionSearch">

    <div>
        <br /><br /><label>Input what word(s), from the description, you want to search for below</label><br />
    </div>
    <input type="text" name="search" />
    <input type="submit"  style="margin-left:135px" value="Description Search" class="btn-primary" />
</form>

<form action="/Tasks/DateSearch">

    <div>
        <br /><br /><label>Input what date you want to search below</label><br />
    </div>
    <input type="date" name="search" />
    <input type="submit"  style="margin-left:187px" value="Date Search" class="btn-primary" />
</form>

<form action="/Tasks/StatusSearch">

    <div>
        <br /><br /><label>Input if you want to search for completed or incomplete task(s) below</label><br />
    </div>
    <input type="checkbox" name="search" value="true" />
    <input type="submit"  style="margin-left:318px" value="Status Search" class="btn-primary" />
</form>
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }

        </table>*@
