@model IEnumerable<TasksListWebApp.Models.Task>

@{
    ViewBag.Title = "Listing";
}

<h2>Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.Tasks) {
    <tr>
        <td>
            @item.DueDate
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @(item.Completion ? "Complete" : "Incomplete")
        </td>
        <td>
            @item.User.UserName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Description }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Description }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Description })
        </td>
    </tr>
}

</table>
